form{
    font-size:  x-small;
    color: var(--btext-color);
    margin-top: 40px;
}
.card{
    margin : 100px;
    background-color: var(--button-color);
    font-size: small;;
    border-radius: 10px;
}
p , h3{
    color: var(--fonts-color);
}

input[text]{
    height: 60px;
    padding: 50px;
    border-radius: 15px;
}
