<div class="card">
    <div class="card-body">
    <div class="text-center mt-3 mb-5">
    <h3>SUBSCRIPTION FORM</h3>
    <p class="m-auto subs-text">Stay updated and subscribe to our page for the latest content!</p>
    <form action="" class="form-inline mb-5">
    <div  class="form-group col-md-50">
        <input type = "text" class = "from-control" placeholder="Your Name">
    </div>
    <div  class="form-group col-md-50">
        <input type = "email" class = "from-control" placeholder="Email Adress">
    </div>
    
    <div  class="col-md-50">
        <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
    </div>
    </form>