<div class="card">
    <div class="card-body">
      <div class="text-center mt-3 mb-5">
        <h3>SUBSCRIPTION FORM</h3>
        <p class="m-auto subs-text">Stay updated and subscribe to our page for the latest content!</p>
        <form (ngSubmit)="onSubmit()" class="form-inline mb-5">
          <div class="form-group-container">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-info btn-sub">SUBSCRIBE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  