form{
    font-size:  x-small;
    color: var(--btext-color);
    margin-top: 5vh;
   
}
.card{
    
    margin : 10px;
    background-color: var(--button-color);
    font-size: small;;
    border-radius: 10px;
    
}
p , h3{
    color: var(--fonts-color);
}


.btn-sub{
    margin-top: 10px;
    height: 50px;
    font-size: 15px;
    width: 200px;
}