<section class="featured-section glass">
    <div  class="container-glass">
        <h1 class="text-center"> Tearms & Conditions </h1>
    <div class="p-5 mt-4 bg-secondary-theme">
        <h3>Purpose:</h3><p> This Angular project serves as a portfolio showcasing my academic background, skills, and interests. It provides information about my education, hobbies, and professional aspirations.
        </p>
        <h3>Accuracy:</h3><p>  While I strive to ensure the accuracy and up-to-date nature of the content on this platform, please note that the information provided here is based on my profile as a fourth-year student and may change over time.
        </p>
        <h3>Use of Content:</h3> <p> You are welcome to explore the content on this platform, including the "About Me" section and any other materials presented. However, all content is protected by copyright laws, and you may not reproduce, distribute, or use it for any commercial purposes without proper authorization.
        </p>
        <h3>Privacy: </h3> <p>Your privacy is important to me. I do not collect personal information from visitors to this platform, and I do not engage in any form of data tracking or profiling. Please refer to the Privacy Policy section for more details on how your data is handled.
        </p>
        <h3>Third-Party Links: </h3> <p>This platform may contain links to third-party websites or resources for additional information. I do not endorse or have control over the content or policies of these external sites. Please review their terms and conditions and privacy policies separately.
        </p>
        <h3>Feedback and Contact: </h3> <p>I welcome feedback, comments, and questions from visitors. Feel free to reach out through the provided contact information. However, please ensure that all interactions are respectful and abide by applicable laws and regulations.
        </p>
        <h3>Updates and Changes:</h3> <p> I reserve the right to make updates, changes, or modifications to this platform, including the content and terms and conditions, at any time without prior notice. It is your responsibility to review these terms periodically for any updates.
        </p>
        <h3>Disclaimer:</h3> <p> This platform is for informational purposes only. The views, opinions, and information presented here are my own and do not necessarily reflect those of any educational institution, organization, or entity I may be affiliated with.
        </p>
        <h3>Governing Law: </h3><p> These terms and conditions are governed by the laws of the jurisdiction in which I reside.</p>

        <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home</button>
    
    </div>
    </div>
    </section>