<nav class = "navbar navbar-expand-lg ">
    <div class = "container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="navbar-item "><a href="pages/home" class="nav-link">home  </a></li>
                <li class="navbar-item "><a href="pages/Vector-Arts" class="nav-link">Vector-Arts  </a></li>
                <li class="navbar-item "><a href="pages/Programming" class="nav-link">Programming  </a></li>
                <li class="navbar-item "><a href="pages/Blog" class="nav-link">Blog </a></li>
                <li class="navbar-item "><a href="pages/About-Me" class="nav-link">About-Me  </a></li>

            </ul>
        </div>
    </div>
</nav>