<section class="featured-section glass">
<nav class = "navbar navbar-expand-lg ">
    <div class = "container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="navbar-item "><a href="Vector Art Designs/Featured Designs" class="nav-link">Featured  </a></li>
                <li class="navbar-item "><a href="Vector Art Designs/Sold Designs" class="nav-link">Sold </a></li>
                <li class="navbar-item "><a href="Vector Art Designs/All Designs" class="nav-link">All </a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
    <div class="col-md-8">
    <div class="card">
    <img src="assets\img\itachi.jpg" alt="" class="card-img-top img-fluid">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center" ml-2> Featured </small>
        <small class="bg-light text-info text-center" ml-2> views 12487 </small>
        <small class="bg-light text-warning text-center" ml-2> Latest Updated on - 15june 2021 </small>
        <h1>Welcome to my page</h1>
        <p>A vector art of a sword is a masterpiece of precision and detail, showcasing the elegance and craftsmanship of this ancient weapon.

            Each line and curve in the vector art represents a meticulous stroke of the artist's digital pen, capturing the essence of a sword's blade and hilt with astonishing accuracy.
            
            The metallic sheen of the sword's blade is portrayed in a way that it glistens with a sense of sharpness, ready for battle or ceremony.
            
            The intricate hilt, adorned with ornate designs and embellishments, adds a touch of grandeur to the artwork, reflecting the history and culture surrounding swords.
            
            The vector art allows for scalability, ensuring that the sword can be rendered in various sizes without losing its clarity and quality.
            
            Shadows and highlights are meticulously layered to create a sense of depth, making the sword appear lifelike and three-dimensional.
            
            The choice of colors in the vector art can evoke emotions, with shades of silver and gold symbolizing valor and nobility.
            
            The vector art of a sword serves as a reminder of a bygone era when these weapons were more than tools – they were symbols of honor and bravery.</p>
        </div>
    </div>
    <app-comment-folder></app-comment-folder>
    <app-comment-list></app-comment-list>
</div>
    <div class = "col-md-4"><app-post-card></app-post-card></div>
    </div>
    </div>
</section>