<section class="featured-section glass">
  <div class="container-glass">
    <div class="row">
      <div class="col-md-12 mt-5">
        <p>Hi! I Am Ayush</p>
        <p>Welcome to my Portfolio</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>

<section class="glass2">
  <div class="col-md-12  text-center">
    <h2> Latest Posts </h2>
    <p>These are My Latest vectors</p>
    <app-post-card></app-post-card>
  </div>
  
  <div class="row" id="post-card-container">
  </div>
</section>
