<section class="featured-section glass">
  <div class="container-glass">
    <div class="row">
      <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile-image">
                        <img src="assets/img/IMG_20240613_011642_675.jpg" alt="Ayush Kumar" class="img-fluid">
                        <h2 class="name-overlay">Ayush Kumar</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <h1>Hi there! </h1>
                    <h3>I'm Ayush Kumar...</h3>
                    <p> A graduate from Haldia Institute of Technology, where I discovered my love for technology and innovation. I've built a solid foundation in Java and Object-Oriented Programming, and I've sharpened my skills in HTML, CSS, JavaScript, Angular, and SQL. This mix of knowledge makes me a well-rounded and proficient developer.</p>
                    <p>During my internship with Tata Steel's Prasikshan Program, I created an <a href="https://ayu18z.github.io/NEWS-TATA/index.html" target="_blank">"E-news and Weather Application."</a> This project really highlighted my ability to build practical and user-friendly apps. On the freelance side, I've sold over 50 t-shirt designs to businesses, showcasing my creativity and entrepreneurial spirit.</p>
                    <p>In college, I was an active member and the Creative Head of the IEEE HIT SB club. I organized and participated in more than 10 workshops, seminars, and events, which helped me develop my leadership and teamwork skills.</p>
                    <p>I'm known for being a quick learner and easily adapting to new environments. I'm also super friendly, which makes working together enjoyable and productive. I have a passion for football and a tactical knowledge of the game, which adds a fun dimension to my curriculum. My workaholic nature drives me to always strive for excellence in everything I do. I'm excited to keep growing and contributing to exciting projects in the tech world.</p>
               <h3>Contacts :-</h3>
               <p>ph - +91 7762930442</p>
               <p> email - ayush109.htece2020@gmail.com</p>
               <a href="https://www.linkedin.com/in/ayush-kumar-16b18021a/?profileId=ACoAADcytOMBPEjNZDJYfW9gzetvbtDu6TZykeQ" target="_blank">LinkedIn</a>
                  </div>
            </div>
        </div>
    </section>
    
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
<!-- 
<section class="glass2">
  <div class="col-md-12  text-center">
    <h2> Latest Posts </h2>
    <p>These are My Latest vectors</p>
    <app-post-card></app-post-card>
  </div>
  
  <div class="row" id="post-card-container">
  </div>
</section> -->
