<footer >
    <div class="d-flex align-items-center justify-content-center">
        <div class ="row">
            <div class="clo-md-12 text-center">
                <div class="site-logo" >Potfolio-ang</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="navbar-item"><a href="Home" class="nav-link">Home</a></li>
                        <li class="navbar-item"><a href="About Me" class="nav-link">About Us</a></li>
                        <li class="navbar-item"><a href="Contact Me" class="nav-link">contact</a></li>
                        <li class="navbar-item"><a href="T&C" class="nav-link">T&C</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright ℗ 2023 Angular Potfolio</p>
                <ul class="nav justify-content-center">
                    <li class="navbar-item"><a href="https://instagram.com/ayusk18?igshid=OGQ5ZDc2ODk2ZA==" class="nav-link"><i class="fa-brands fa-instagram fa-bounce" style="color: #e74099;"></i></a></li>
                    <li class="navbar-item"><a href="https://www.linkedin.com/in/ayush-kumar-16b18021a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="nav-link"><i class="fa-brands fa-linkedin fa-bounce" style="color: #385d9f;"></i></a></li>
                    <li class="navbar-item"><a href="https://wa.me/qr/MGXDLXDIEU6RO1" class="nav-link"><i class="fa-brands fa-whatsapp fa-bounce" style="color: #1f932d;"></i></a></li>
                    <li class="navbar-item"><a href="https://www.facebook.com/profile.php?id=100009909763796" class="nav-link"><i class="fa-brands fa-facebook fa-bounce" style="color: #3767b9;"></i></a></li>
                </ul>
            </div>

        </div>

    </div>
</footer>