<footer>
    <div class = "container">
        <div class ="row">
            <div class="clo-md-12 text-center">
                <div class="site-logo" >Potfolio-ang</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="navbar-item"><a href="" class="nav-link">Home</a></li>
                        <li class="navbar-item"><a href="" class="nav-link">About Us</a></li>
                        <li class="navbar-item"><a href="" class="nav-link">contact</a></li>
                        <li class="navbar-item"><a href="" class="nav-link">T&C</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright ℗ 2023 Angular Potfolio</p>
            </div>

        </div>

    </div>
</footer>