@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap');

body{
  background-image: url("assets/img/pexels-achraf-alan-1477156.jpg") ;
  background-size: cover;
}
:root{
  --fonts-color :#77D9BD;
  --third-color :#8C7E72;
  --body-color :#0D0D0D;
  --btext-color :#3973BF;
  --warning-color: orange;
  --button-color:#023059;
}
.site-logo{
  padding: 6px 20px;
  border-radius: 15px;
  background-color: var(--button-color);
  color: var(--fonts-color);

}
p{
  color: var(--primary);
}
body{
  font-family: 'Martian Mono', monospace;
  font-size: 40px;
  color: var(--body-text-color);
}
.app-body{
  min-height: 85vh;
  margin-top: 50px;
}