<section class="featured-section glass">
    <div class="container-glass">
        <h1 class="text-center">About Me</h1>
        <div class="p-5 mt-4 bg-secondary-theme">
            <p>Hello! I'm Ayush Kumar, a proud graduate of Haldia Institute of Technology, where I pursued a Bachelor's degree in Electronics and Communication Engineering. My academic journey has equipped me with a strong foundation in technology and communication.</p>
            <p>Beyond my studies, I am a multi-faceted individual with a wide range of interests and passions. Football is one of my great loves, and I enjoy playing whenever I get the chance. I also have a deep appreciation for music, finding solace in listening to various genres.</p>
            <p>One of my most creative pursuits is making vector art. Over the years, I have honed my skills and turned this passion into a successful freelancing venture. My vector art designs have been sought after for use in T-shirt designs, company mockups, and other creative projects, with over 50 designs sold directly to businesses.</p>
            <p>When I'm not on the field or immersed in the world of art and design, I find joy in the culinary arts. Cooking is not just a hobby for me; it's a way to experiment with flavors and create delicious meals.</p>
            <p>Professionally, I am actively pursuing a career in software engineering. I have a strong command of Java, Data Structures and Algorithms, HTML, CSS, JavaScript, Angular, and SQL. During my internship with Tata Steel's Prasikshan Program, I developed an innovative "E-news and Weather Application," showcasing my ability to create practical and user-friendly applications.</p>
            <p>At college, I served as a member and the Creative Head of the IEEE HIT SB club, where I actively organized and participated in more than 10 workshops, seminars, and events. This experience helped me develop my leadership and teamwork skills.</p>
            <p>I am known for being a fast learner and easily adapting to new environments. My friendly nature makes collaboration enjoyable and productive. My passion for football and my tactical knowledge of the game add a fun dimension to my curriculum. My dedication to my work is evident in my workaholic nature, always striving for excellence in every project I undertake.</p>
            <p>As I embark on this exciting journey, I look forward to combining my technical expertise with my creative flair to contribute to innovative and impactful projects in the tech world.</p>
            <p>Thank you for visiting my portfolio. I hope you enjoy exploring my work and experiences. Feel free to contact me, and please leave some comments or feedback for me.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>
