<section class="featured-section glass">
    <div  class="container-glass">
        <h1 class="text-center"> About Me </h1>
    <div class="p-5 mt-4 bg-secondary-theme">
        <p>I am a fourth-year student pursuing a Bachelor's degree in Electronics and Communication Engineering at Haldia Institute of Technology, West Bengal. My academic journey has equipped me with a strong foundation in electronics and communication technology.
        </p>
        <p>Beyond my studies, I am a multi-faceted individual with a wide range of interests and passions. I have a profound love for football, which I enjoy playing whenever I get the chance. Music is another one of my passions, and I find solace in listening to various genres.
        </p>
        <p>One of my most creative pursuits is making vector art. Over the years, I have honed my skills and even turned this passion into a freelancing venture. My vector art designs have been sought after for use in T-shirt designs, company mockups, and other creative projects.
        </p>
        <p>When I'm not on the field or immersed in the world of art and design, I find joy in the culinary arts. Cooking is not just a hobby for me; it's a way to experiment with flavors and create delicious meals.
        </p>
        <p>Professionally, I am actively pursuing a career in software engineering. I have a strong command of Java, Data Structures and Algorithms, HTML, CSS, and AngularJS. My experience as the Creative Head at IEEE-HIT-SB and my successful freelancing ventures have further enriched my skill set and creativity.
        </p>
        <p>As I embark on this exciting journey, I look forward to combining my technical expertise with my creative flair to contribute to innovative and impactful projects in the world of software engineering.
        </p>
        <p>Thank you for visiting my portfolio, and I hope you enjoy exploring my work and experiences.</p>
        <p>Feel free to Contact me, and please leave some comment or feedback for me</p>    <div class="text-center">
    <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home</button>
    </div>
    </div>
    </div>
    </section>