<div class="grid-container">
<div class ="card">
    <img src="assets\img\benzima.jpg">
    <div class = "card-body">
        <small class="bg-light text-danger tect-center">Design  </small>
        <small class="bg-light text-success tect-center ml-3">Feature  </small>
        <small class="card" (click)="incrementViewCount()"> <p>likes: {{ viewCount }}</p> </small>
        <h5 class="mt-1"> Karim Benzima</h5>
        <p>This design is about Karim Benzema, who is a French professional footballer known for his prolific scoring ability and versatility. He has achieved numerous titles with Real Madrid, including multiple UEFA Champions League and La Liga championships, solidifying his status as one of the world's top strikers.</p>
        
        <small class="bg-light text-warning tect-center">Created on - 15th nov. 2022</small>
</div>
</div>

<div class ="card">
    <img src="assets\img\VECTOR 1.png">
    <div class = "card-body">
        <small class="bg-light text-danger tect-center">Design  </small>
        <small class="bg-light text-success tect-center ml-3">Feature  </small>
        <small class="card" (click)="incrementViewCount()"> <p>likes: {{ viewCount }}</p> </small>
        <h5 class="mt-1"> Karim Benzima</h5>
        <p>This design is about Karim Benzema, who is a French professional footballer known for his prolific scoring ability and versatility. He has achieved numerous titles with Real Madrid, including multiple UEFA Champions League and La Liga championships, solidifying his status as one of the world's top strikers.</p>
        
        <small class="bg-light text-warning tect-center">Created on - 15th nov. 2022</small>
</div>
</div>

<div class ="card">
    <img src="assets\img\pussy.png">
    <div class = "card-body">
        <small class="bg-light text-danger tect-center">Design  </small>
        <small class="bg-light text-success tect-center ml-3">Feature  </small>
        <small class="card" (click)="incrementViewCount()"> <p>likes: {{ viewCount }}</p> </small>
        <h5 class="mt-1"> Karim Benzima</h5>
        <p>This design is about Karim Benzema, who is a French professional footballer known for his prolific scoring ability and versatility. He has achieved numerous titles with Real Madrid, including multiple UEFA Champions League and La Liga championships, solidifying his status as one of the world's top strikers.</p>
        
        <small class="bg-light text-warning tect-center">Created on - 15th nov. 2022</small>
</div>
</div>
<div class ="card">
    <img src="assets\img\fc.png">
    <div class = "card-body">
        <small class="bg-light text-danger tect-center">Design  </small>
        <small class="bg-light text-success tect-center ml-3">Feature  </small>
        <small class="card" (click)="incrementViewCount()"> <p>likes: {{ viewCount }} </p></small>
        <h5 class="mt-1"> Karim Benzima</h5>
        <p>This design is about Karim Benzema, who is a French professional footballer known for his prolific scoring ability and versatility. He has achieved numerous titles with Real Madrid, including multiple UEFA Champions League and La Liga championships, solidifying his status as one of the world's top strikers.</p>
        
        <small class="bg-light text-warning tect-center">Created on - 15th nov. 2022</small>
</div>
</div>
</div>