<div class="grid-container">
    <!-- benzima.jpg -->
    <div class="card">
        <img src="assets/img/benzima.jpg">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">Karim Benzema</h5>
            <p>Karim Benzema is a renowned football player known for his incredible skill and goal-scoring ability. He has played for major clubs like Real Madrid and has been a key player for the French national team. His technical prowess and finishing skills have earned him numerous accolades and admiration from fans worldwide. Benzema's contribution to football is marked by his consistency and exceptional performance on the field.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

 <!-- itachi.jpg -->
 <div class="card">
    <img src="assets/img/itachi.jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">Itachi</h5>
        <p>Itachi Uchiha is a complex and powerful character from the anime series Naruto. Known for his enigmatic personality and formidable skills, Itachi plays a crucial role in the story. His calm demeanor and impressive abilities make him a memorable figure in the anime, often leaving a lasting impression on fans.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>


  <!-- killua.png -->
  <div class="card">
    <img src="assets/img/killua.png">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">Killua</h5>
        <p>Killua Zoldyck is a beloved character from the anime Hunter x Hunter, known for his sharp intellect and exceptional combat skills. As a member of the infamous Zoldyck family, Killua's character development and interactions with other characters add depth to the series. His unique abilities and personal struggles make him a standout character in the anime world.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>


 <!-- zoro.jpg -->
 <div class="card">
    <img src="assets/img/zoro.jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">Zoro</h5>
        <p>Roronoa Zoro is a prominent character from the anime One Piece, known for his swordsmanship and unwavering loyalty. Zoro’s design often reflects his warrior spirit and distinctive fighting style. As a key member of the Straw Hat Pirates, his character development and contributions are central to the series' adventure and action.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

    

    <!-- madarajpg -->
    <div class="card">
        <img src="assets/img/madara.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">Madara uchiha</h5>
                <p>Its MAdara uchiha "Thae God"</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

    <!-- fc.png -->
    <div class="card">
        <img src="assets/img/fc.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">Itachi's Susano</h5>
            <p>FC is a dynamic and visually engaging piece that represents a fictional or real football club. The artwork might feature the team's colors, logo, or key players, capturing the spirit and energy of football. This design could be used for merchandise, fan art, or promotional materials, reflecting the passion and excitement of the sport.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

    <!-- gavi.jpg -->
    <div class="card">
        <img src="assets/img/gavi.jpg">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">Gavi</h5>
            <p>Gavi is a young and talented football player who has made a significant impact on the field. Known for his agility and creative playmaking, Gavi has been a rising star in the football world. His performances have earned him praise from fans and experts alike. As a promising player, he represents the future of football with his exceptional skills and determination.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

    <!-- grealish.jpg -->
    <div class="card">
        <img src="assets/img/grealish.jpg">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">Grealish</h5>
            <p>Jack Grealish is an English football player known for his flair and creativity on the pitch. With his exceptional dribbling skills and playmaking ability, he has become a key player for his club and country. Grealish's style of play often dazzles fans and creates opportunities for his teammates, making him a standout figure in modern football.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

    <!-- inoshuhe.jpg -->
    <div class="card">
        <img src="assets/img/street.gif">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">A Street portray</h5>
            <p>Inoshuhe is an intriguing anime character known for its unique design and dynamic abilities. Often featured in action-packed scenes, this character brings a sense of excitement and adventure to the story. The artwork likely highlights Inoshuhe's distinctive features and contributes to the rich visual storytelling of the anime world.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

   

    <!-- kb.jpg -->
    <div class="card">
        <img src="assets/img/kb.jpg">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">KB</h5>
            <p>KB represents a creative and artistic concept, possibly related to a fictional or abstract theme. The design might incorporate various elements that convey a sense of style and imagination. This artwork could be a part of a larger series or a standalone piece that showcases unique design aspects.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

  
    <!-- pussy.jpg -->
    <div class="card">
        <img src="assets/img/pussy.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">pushpit's portray</h5>
<p> A vectore portray fromm a friends bikem ride to lahula;himachalpradesh; on a Royal enfield bike
</p>            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>


    <!-- kb.jpg -->
    <div class="card">
        <img src="assets/img/VECTOR 1.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">KB</h5>
            <p>KB represents a creative and artistic concept, possibly related to a fictional or abstract theme. The design might incorporate various elements that convey a sense of style and imagination. This artwork could be a part of a larger series or a standalone piece that showcases unique design aspects.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>


    <!-- kb.jpg -->
    <div class="card">
        <img src="assets/img/Vector 5.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">inoshuke</h5>
            <p> represents a creative and artistic concept, possibly related to a fictional or abstract theme. The design might incorporate various elements that convey a sense of style and imagination. This artwork could be a part of a larger series or a standalone piece that showcases unique design aspects.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>

    
    <!-- kb.jpg -->
    <div class="card">
        <img src="assets/img/zor-sword.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">zoro's sword</h5>
            <p>KB represents a creative and artistic concept, possibly related to a fictional or abstract theme. The design might incorporate various elements that convey a sense of style and imagination. This artwork could be a part of a larger series or a standalone piece that showcases unique design aspects.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>



    <!-- kb.jpg -->
    <div class="card">
        <img src="assets/img/tanjiro-sw.png">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Feature</small>
            <small class="card" (click)="incrementViewCount()">
                <p>likes: {{ viewCount }}</p>
            </small>
            <h5 class="mt-1">tanjiroos sword</h5>
            <p>KB represents a creative and artistic concept, possibly related to a fictional or abstract theme. The design might incorporate various elements that convey a sense of style and imagination. This artwork could be a part of a larger series or a standalone piece that showcases unique design aspects.</p>
            <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
        </div>
    </div>
<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/demons-swrd.jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">Demons Sword</h5>
        <p>This artwork depicts a powerful demon sword with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/multiverse.ai__1638288202_2718480936164148318_50006647931.jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">Demons Sword</h5>
        <p>This artwork depicts a powerful demon sword with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (1).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">atack on titan</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (1).png">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">luffy</h5>
        <p>This artwork depicts a powerful luffy with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>
<div class="card">
    <img src="assets/img/1 (4).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">atack on titan</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>
<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (1).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">atack on titan</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (2).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">Neymar jr.</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (2).png">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">inoshuke</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (3).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">the horific moon</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->


<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (5).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">sunset</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (6).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">atack on titan</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (7).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">sasuke uchiha</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (8).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">A dreamy night view</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (9).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">jisso from black pink</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (10).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">beach beauty</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (11).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">porsche 911 classic</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (12).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">baley may portrait</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>
   

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (13).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">beach hause</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (14).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">some influencer</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (15).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">mehta's portrait</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (16).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">setu portrait</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>
</div>

<!-- demons-swrd.jpg -->
<div class="card">
    <img src="assets/img/1 (17).jpg">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Feature</small>
        <small class="card" (click)="incrementViewCount()">
            <p>likes: {{ viewCount }}</p>
        </small>
        <h5 class="mt-1">erin yeager</h5>
        <p>This artwork depicts a powerful atack on titan with intricate designs and glowing runes. The sword seems to emanate a dark energy, reflecting its formidable nature. It could be an artifact from an epic fantasy world where such weapons are central to the plot. The blade's menacing look suggests that it possesses immense power and is wielded by a character of great significance.</p>
        <small class="bg-light text-warning text-center">Created on - 15th Nov. 2022</small>
    </div>

    
</div>
</div>
